# Magento source
src/*

# Custom Magento modules
!src/app/
src/app/*

# Custom Magento themes
!src/app/design/
src/app/design/*

!src/app/design/frontend/
src/app/design/frontend/*

!src/app/design/frontend/Webjump/
src/app/design/frontend/Webjump/*

!src/app/design/frontend/Webjump/noite-assombrada/
!src/app/design/frontend/Webjump/noite-assombrada/**

!src/app/code/
!src/app/code/**

# Magento module configuration
!src/app/etc/
src/app/etc/*
!src/app/etc/config.php

# Docker generated/local files
compose.versions.yaml

# Local setup artifacts
compose.healthcheck.yaml.bak
docker-magento-rootCA.pem

# Local IDE settings
.vscode/settings.json