<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>
        <webjump_productreviews>
            <general>
                <enabled>1</enabled>
                <reviews_limit>5</reviews_limit>
            </general>
        </webjump_productreviews>
    </default>

</config>